:root {
  --bg-color: rgb(40, 41, 40);
  --text-color: #fff;
  --search-bg: #fff;
  --search-text: #000;
  --theme-icon-bg: #fff;
}
.dark-theme {
  --bg-color: #121212;
  --text-color: #f1f1f1;
  --search-bg: #333;
  --search-text: #fff;
  --theme-icon-bg: #222;
}
a {
  text-decoration: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background-color: var(--bg-color);
  display: flex;
  align-items: center;
  z-index: 100;
  justify-content: space-between;
  transition: background 0.3s ease;
  box-shadow: 0px 4px 10px var(--shadow-color);
}


.logo {
  font-size: 32px;
  color: var(--text-color);
  font-weight: bold;
}

@media (max-width: 768px) {
  .logo {
    display: none;
  }
}

/* NAVBAR */
.navbar {
  display: flex;
  gap: 2rem;
}

.navbar a {
  color: var(--text-color);
  font-weight: 500;
  margin-left: 30px;
  transition: color 0.3s ease;
}

.menu-icon {
  display: none;
  font-size: 26px;
  color: var(--text-color);
  cursor: pointer;
}

.search-box {
  display: flex;
  align-items: center;
}
.search-icon-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--search-bg);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-icon-circle:hover {
  background-color: #f1f1f1;
}

.search-icon {
  font-size: 18px;
  color: var(--search-text);
}

.search-box input {
  padding: 6px;
  background: var(--search-bg);
  border: 0;
  outline: 0;
  color: var(--search-text);
  font-size: 16px;
  max-width: 0px;
  opacity: 0;
  visibility: hidden;
  margin-left: 10px;
  border: 1px solid var(--text-color);
  width: 180px;
}

.search-box input.visible {
  max-width: 350px;
  opacity: 1;
  visibility: visible;
  transition: max-width 0.3s ease, opacity 0.3s ease, visibility 0s 0.3s;
}


.theme-toggle {
  background: var(--theme-icon-bg);
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  
}
  
  @media (max-width: 768px) {
    .theme-toggle {
      position: relative;
      border-radius: 50%;
    }
  
    .icons-container {
      gap: 5px;
      
    }
  }
  
  


.theme-toggle:hover {
  background-color: #f1f1f1;
}

@media (max-width: 768px) {
  .theme-toggle {
    position: absolute;
    top: 20px;
    right: 60px;
  }
  .search-theme-container {
    display: flex;
    margin-right: 2rem;
    align-items: center;
    justify-content: space-between;
  }
}




@media (max-width: 768px) {
  .menu-icon {
    display: flex;
  }

  .navbar {
    position: fixed;
    top: 0;
    right: -100%;
    width: 250px;
    height: 100vh;
    background-color: var(--bg-color);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: right 0.3s ease-in-out;
  }

  .navbar.active {
    right: 0;
  }

  .navbar a {
    margin: 15px 0;
    font-size: 18px;
  }

  .menu-logo {
    display: block;
    font-size: 28px;
    margin-bottom: 20px;
    top: 0;
    
  }
}
.search-theme-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-box {
  display: flex;
  align-items: center;
}

.search-icon-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background-color: var(--search-bg);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-icon-circle:hover {
  background-color: #f1f1f1;
}

.search-icon {
  font-size: 18px;
  color: var(--search-text);
}

.search-box input {
  padding: 6px;
  background: var(--search-bg);
  border: 0;
  outline: 0;
  color: var(--search-text);
  font-size: 16px;
  max-width: 0px;
  opacity: 0;
  visibility: hidden;
  margin-left: 10px;
  border: 1px solid var(--text-color);
  width: 200px;
  margin-right: 20px;
}

.search-box input.visible {
  max-width: 350px;
  opacity: 1;
  visibility: visible;
  transition: max-width 0.3s ease, opacity 0.3s ease, visibility 0s 0.3s;
  
}
.icons-container {
  display: flex;
  align-items: center;
  gap: 20px; 
}

.theme-toggle {
  display: flex;
justify-content: center;
align-items: center;
width: 35px;
height: 35px;
background-color: var(--search-bg);
border-radius: 50%;
cursor: pointer;
transition: background-color 0.3s ease;
}

.theme-toggle:hover {
  background-color: #f1f1f1;
}

.icon-sun {
  color: #fff;

}

@media (max-width: 430px) {
  .search-box {
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  .search-icon-circle,
  .theme-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  .theme-toggle {
    margin-right: -30px;
  }
}